{% extends "base.html.twig" %}
{% block contenido %}
<style type="text/css">
        .panel{
            border-radius: 0;
            }
            .panel-default > .panel-heading {
            color: #fff;
            background-color: #52B9E9;
            border-color: #ddd;
            }
.btn-circle.btn-xl{
            float: left;
            width: 80px;
            height: 40px;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            padding: 8px 25px;
            margin-right: 2%;
            }
            .btn-danger{
                background: #FA3031;
            }
            .btn-warning{
                background: #F88529;
                }
          
    </style>
        <h1 class="page-header">Actualización de ejemplares</h1>
        
         
        {% endblock %}