<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Log in</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="/css/default.css" rel="stylesheet" type="text/css" />
        <link href="/css/base.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class="top">
        <h1 class="h1-login">BShare</h1>
    </div>
    <div class="bot">
    <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form role="form" method="post" action="index.php">
            <div class="form-group">
                <label for="user">Usuario</label>
                <input type="text" class="form-control" id="user">
              </div>
              <div class="form-group">
                <label for="pass">Contraseña</label>
                <input type="password" class="form-control" id="pass">
              </div>
              <div class="form-group">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Recuérdame
                </label>
              </div>
              <button class="btn btn-default" name="login" type="submit">Entrar</button>
        </form>
        </div>
        </div>
    </div>
    </body>
</html>
        
