{% extends "base.html.twig" %}
{% block contenido %}
<style type="text/css">
        .panel{
            border-radius: 0;
            }
            .panel-default > .panel-heading {
            color: #fff;
            background-color: #52B9E9;
            border-color: #ddd;
            }
            .btn-circle.btn-xl{
            float: left;
            width: 80px;
            height: 40px;
            border-radius: 0;
            font-size: 18px;
            color: #fff;
            padding: 8px 25px;
            margin-right: 2%;
            }
            .btn-danger{
                background: #FA3031;
            }
            .btn-warning{
                background: #F88529;
                }
    </style>
<h1 class="page-header">Nuevo usuario</h1>
<form class="form-horizontal" role="form" method="post" action="/">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-plus-square-o"></i> Nuevo usuario</h3>
                </div>
                <div class="panel-body">
                    
                        <div class="form-group">
                          <label for="nombre_usuario" class="col-sm-2 control-label">Nombre de usuario</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre_usuario" name="nombre_user" placeholder="Usuario">
                          </div>
                        </div>
                    <div class="form-group">
                          <label for="full_name" class="col-sm-2 control-label">Nombre completo</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Nombre completo">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="pass" class="col-sm-2 control-label">Contraseña</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control" name="pass" id="pass" placeholder="Contraseña">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <label class="col-sm-offset-0 control-label">Administrador</label>
                            <label class="checkbox-inline">
                                <input type="radio" id="inlineCheckbox1" value="1" name="user"> Si
                              </label>
                              <label class="checkbox-inline">
                                <input type="radio" id="inlineCheckbox2" value="0" name="user" checked> No
                              </label>
                              
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-warning btn-circle btn-xl" id="tooltip2" data-toggle="tooltip" data-placement="bottom" title="Crear usuario" name="crear_user"><i class="fa fa-upload"></i></button>
                          </div>
                        </div>
                     
                </div>
            </div>
            <a href="{{ urlFor('gestion') }}" role="button" id="tooltip3" type="button" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" title="Volver a gestión de usuarios"><i class="fa fa-arrow-left"></i>
                            </a>
            <button type="reset" id="tooltip1" role="button" type="button" class="btn btn-info btn-circle btn-xl" data-toggle="tooltip" data-placement="bottom" title="Limpiar"><i class="fa fa-eraser"></i></button>
 </form>        
{% endblock %}