*{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.fa-github{
	color: #000;
	font-size: 25px; 
	position: fixed;
	right: 20px;
	bottom: 10px;
}

.fa-github:hover{
	color: #52B9E9;
}

.fa-bars{
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
}
.navbar-toggle:hover{
	background: #52B9E9;
}

/* colores en los hover de los menus */

.nav-second-level li a:hover{
	text-decoration: none;
	color: #fff;
	border-right: 4px solid aqua;
	background:#222222;
}

.navbar-top-links li a:hover,
.navbar-top-links li a:focus
.navbar-top-links li a:active{
	text-decoration: none;
	color: #fff;
	background:#222222;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:active{
	text-decoration: none;
	color: #fff;
	background:#222222;
}

.blue:hover, .blue:active, .blue:focus{
	background: #52B9E9;
	color: #fff;
	text-decoration: none;
}

.red:hover, .red:active, .red:focus{
	background: #FA3031;
	color: white;
	text-decoration: none;
}

.green:hover, .green:active, .green:focus{
	background: #43C83C;
	color: white;
	text-decoration: none;
}

.orange:hover, .orange:active, .orange:focus{
	background: #F88529;
	color: white;
	text-decoration: none;
}

.purple:hover, .purple:active, .purple:focus{
	background: #932AB6;
	color: white;
	text-decoration: none;
}

.oblue:hover, .oblue:active, .oblue:focus{
	background: #1171A3;
	color: white;
	text-decoration: none;
}
/* transicion menus */
.red, .blue, .green, .orange, .purple, .oblue,
.nav-second-level li a, .navbar-toggle, .fa-github{

	-webkit-transition: all 0.2s ease-in;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.2s ease-in;/* Firefox 4-15 */
	-o-transition: all 0.2s ease-in;/* Opera 10.5-12.00 */
	transition: all 0.2s ease-in;/* Firefox 16+, Opera 12.50+ */
}

/* barra de arriba */
.navbar-default {
background-color: #101010;
border-color: #222222;

}
 /* barra izquierda */
.navbar-static-side ul li {
border-bottom: 1px solid #222222;
background: #111111;
}

.navbar-static-side ul li a{
	padding-top: 15px;
	padding-bottom: 15px;
}

a, .navbar-default .navbar-brand {
color: #FFF;
font-family: "Open Sans", Arial, Helvetica, sans-serif;
font-weight: 400;
}

.navbar-default .navbar-brand {
font-size: 25px;
}

/* CSS para el loguin */ 

.h1-login{
	color: #fff;
	text-align: center;
	font-size: 60px;
	margin: 0 auto;
	margin-top: 100px;
}

.top{
	background: #222222;	
	height: 300px;
	margin: 0;
	padding-top: 20px;
	color: #fff;
}

.bot{
	background: #111111;
	padding: 50px 2%;
	color: #fff;
}

.btn{
	text-decoration: none;
	color: #000;
	display: block;
	padding: 5px 10px;
	border: none;
}
.btn:hover{
	text-decoration: none;
	background-color: #52B9E9;
	color: #fff;
	border: none;
	font-weight: bold;
}

.form-control, .btn{
	border-radius: 0;
}
